#input {
    background-color: #1c1c1c;
    border: 2px solid #4f99b9;
    border-radius: 0;
    color: #bcbcbc;
}

#scroll {
    background-color: #1c1c1c;
    border: 2px solid #4f99b9;
    border-top-width: 0;
    color: #e2bf88;
}

#entry:selected {
    background-color: #4f99b9;
    color: #343434;
}
